body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #0a0a23;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  padding-top: 5rem;
}
button {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
}
  button:hover {
    background-color: #0062cc;
  }
  
h1 {
  margin-top: 2rem;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
.jokes {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.joke-card {
  background-color: rgba(51, 48, 45,0.2);
  border: 2px solid #40798C;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px); 
}
  
.joke-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #a3a3a3;
}
  
.joke-card p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
}
  
.joke-card a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}
  
.joke-card a:hover {
  text-decoration: underline;
}
  